//
   Created by mamol on 16/07/26.
doctype
html
    head
        title 編集＆管理
        meta(charset='UTF-8')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        link(rel='stylesheet' type='text/css' href='/stylesheets/management.css')
        script(type='text/javascript' src='/javascripts/management.js')
    body
        div.box(align='center')
            div.table
                form(method='post')
                    table
                        if msg
                            tr
                                th(colspan='2' style='text-align: center')
                                    input#project(style='text-align: center; width: 110px' type='text' placeholder='案件' name='project' value=msg['project'])
                                    span='-'
                                    input#key(style='text-align: center; width: 40px' type='text' placeholder='番号' name='key' value=msg['key'].replace(msg['project']+'-', ""))
                                    button#check(style='float: right' type='button') 検査
                            tr
                                td(style='text-align: center; color: red; font-size: 13px' colspan='2') #{msg.message1}
                            tr
                                td(style='text-align: center; color: red; font-size: 13px' colspan='2') #{msg.message2}
                            tr
                                td(colspan='2')
                                    hr
                            tr
                                th 要件
                                td
                                    input(type='text' name='title' value=msg['title'])
                            tr
                                td(colspan='2')
                                    hr
                            tr
                                th 分類
                                td
                                    select(name='classification')
                                        if msg['classification'] == '1.0 phase'
                                            option
                                            option(selected='selected')='1.0 phase'
                                            option='1.5 phase'
                                        else if msg['classification'] == '1.5 phase'
                                            option
                                            option='1.0 phase'
                                            option(selected='selected')='1.5 phase'
                                        else
                                            option
                                            option='1.0 phase'
                                            option='1.5 phase'
                            tr
                                td(colspan='2')
                                    hr
                            tr
                                th 状態
                                td
                                    select(name='status')
                                        if msg['status'] == "対応中"
                                            option="未対応"
                                            option(selected='selected')="対応中"
                                            option="対応完成"
                                            option="確認中"
                                        else if msg['status'] == "対応完成"
                                            option="未対応"
                                            option="対応中"
                                            option(selected='selected')="対応完成"
                                            option="確認中"
                                        else if msg['status'] == "確認中"
                                            option="未対応"
                                            option="対応中"
                                            option="対応完成"
                                            option(selected='selected')="確認中"
                                        else
                                            option="未対応"
                                            option="対応中"
                                            option="対応完成"
                                            option="確認中"
                            tr
                                td(colspan='2')
                                    hr
                            tr
                                th 種別
                                td
                                    select(name='species')
                                        if msg['species'] == "仕様"
                                            option='バグ'
                                            option(selected='selected')='仕様'
                                            option='仕様変更'
                                            option='機能追加'
                                        else if msg['species'] == "仕様変更"
                                            option='バグ'
                                            option='仕様'
                                            option(selected='selected')='仕様変更'
                                            option='機能追加'
                                        else if msg['species'] == "機能追加"
                                            option='バグ'
                                            option='仕様'
                                            option='仕様変更'
                                            option(selected='selected')='機能追加'
                                        else
                                            option='バグ'
                                            option='仕様'
                                            option='仕様変更'
                                            option='機能追加'
                            tr
                                td(colspan='2')
                                    hr
                            tr
                                th 提出者
                                td
                                    input(type='text' name='submitter' value=msg['submitter'])
                            tr
                                td(colspan='2')
                                    hr
                            tr
                                th 詳細
                                td
                                    textarea(name='detail')=msg['detail']
                            tr
                                td(colspan='2')
                                    hr
                            tr
                                th 担当者
                                td
                                    input(type='text' name='principal' value=msg['principal'])
                            tr
                                td(colspan='2')
                                    hr
                            tr
                                th 備考
                                td
                                    textarea(name='remark')=msg['remark']
                            tr
                                td(colspan='2')
                                    hr
                        else
                            tr
                                th(colspan='2' style='text-align: center')
                                    input#project(style='text-align: center; width: 110px' type='text' placeholder='案件' name='project')
                                    span='-'
                                    input#key(style='text-align: center; width: 40px' type='text' placeholder='番号' name='key')
                                    button#check(style='float: right' type='button') 検査
                            tr
                                td(colspan='2')
                                    hr
                            tr
                                th 要件
                                td
                                    input(type='text' name='title')
                            tr
                                td(colspan='2')
                                    hr
                            tr
                                th 分類
                                td
                                    select(name='classification')
                                        option
                                        option='1.0 phase'
                                        option='1.5 phase'
                            tr
                                td(colspan='2')
                                    hr
                            tr
                                th 状態
                                td
                                    select(name='status')
                                        option="未対応"
                                        option="対応中"
                                        option="対応完成"
                                        option="確認中"
                            tr
                                td(colspan='2')
                                    hr
                            tr
                                th 種別
                                td
                                    select(name='species')
                                        option='バグ'
                                        option='仕様'
                                        option='仕様変更'
                                        option='機能追加'
                            tr
                                td(colspan='2')
                                    hr
                            tr
                                th 提出者
                                td
                                    input(type='text' name='submitter')
                            tr
                                td(colspan='2')
                                    hr
                            tr
                                th 詳細
                                td
                                    textarea(name='detail')
                            tr
                                td(colspan='2')
                                    hr
                            tr
                                th 担当者
                                td
                                    input(type='text' name='principal')
                            tr
                                td(colspan='2')
                                    hr
                            tr
                                th 備考
                                td
                                    textarea(name='remark')
                            tr
                                td(colspan='2')
                                    hr
                        tr
                            td
                                button#clear(type='button') クリア
                            td
                                span(style='float: right')
                                    button(type='submit') 作成
                                    a(href='/view')
                                        button(type='button') 戻る
