//
   Created by mamol on 16/07/26.
doctype
html
    head
        title 要件一覧
        meta(charset='UTF-8')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        link(rel='stylesheet' type='text/css' href='/stylesheets/view.css')
        script(type='text/javascript' src='/javascripts/view.js')

    body
        div.box
            div.new
                a(href='/management')
                    button(style='font-size: small' type='button') 新規
                a(href='/view')
                    button(style='font-size: small' type='button') 一覧

            div.search
                form(method='get')
                    table
                        tr
                            th.search_th='キー'
                            td
                                if search_info && search_info['project']
                                    input(type='text' name='project' placeholder='案件' style='text-align: center; width: 110px' value=search_info['project'])
                                else
                                    input(type='text' name='project' placeholder='案件' style='text-align: center; width: 110px')
                                span='-'
                                if search_info && search_info['code']
                                    input(type='text' name='code' placeholder='番号' style='text-align: center; width: 40px' value=search_info['code'])
                                else
                                    input(type='text' name='code' placeholder='番号' style='text-align: center; width: 40px')
                        tr
                            th.search_th='要件'
                            td
                                if search_info && search_info['title']
                                    input(type='text' name='title' value=search_info["title"])
                                else
                                    input(type='text' name='title')
                        tr
                            th.search_th='分類'
                            td
                                if search_info && search_info['classification'] && search_info['classification'] == '1.0 phase'
                                    select(name='classification')
                                        option.option
                                        option(selected='selected')='1.0 phase'
                                        option='1.5 phase'
                                else if search_info && search_info['classification'] && search_info['classification'] == '1.5 phase'
                                    select(name='classification')
                                        option.option
                                        option='1.0 phase'
                                        option(selected='selected')='1.5 phase'
                                else
                                    select(name='classification')
                                        option.option
                                        option='1.0 phase'
                                        option='1.5 phase'
                        tr
                            th.search_th='状態'
                            td
                                if search_info && search_info['status'] && search_info['status'] == "未対応"
                                    select(name='status')
                                        option.option
                                        option(selected='selected')="未対応"
                                        option="対応中"
                                        option="対応完成"
                                        option="確認中"
                                else if search_info && search_info['status'] && search_info['status'] == "対応中"
                                    select(name='status')
                                        option.option
                                        option="未対応"
                                        option(selected='selected')="対応中"
                                        option="対応完成"
                                        option="確認中"
                                else if search_info && search_info['status'] && search_info['status'] == "対応完成"
                                    select(name='status')
                                        option.option
                                        option="未対応"
                                        option="対応中"
                                        option(selected='selected')="対応完成"
                                        option="確認中"
                                else if search_info && search_info['status'] && search_info['status'] == "確認中"
                                    select(name='status')
                                        option.option
                                        option="未対応"
                                        option="対応中"
                                        option="対応完成"
                                        option(selected='selected')="確認中"
                                else
                                    select(name='status')
                                        option.option
                                        option="未対応"
                                        option="対応中"
                                        option="対応完成"
                                        option="確認中"
                        tr
                            th.search_th='種別'
                            td
                                if search_info && search_info['species'] && search_info['species'] == "バグ"
                                    select(name='species')
                                        option.option
                                        option(selected='selected')='バグ'
                                        option='仕様'
                                        option='仕様変更'
                                        option='機能追加'
                                else if search_info && search_info['species'] && search_info['species'] == "仕様"
                                    select(name='species')
                                        option.option
                                        option='バグ'
                                        option(selected='selected')='仕様'
                                        option='仕様変更'
                                        option='機能追加'
                                else if search_info && search_info['species'] && search_info['species'] == "仕様変更"
                                    select(name='species')
                                        option.option
                                        option='バグ'
                                        option='仕様'
                                        option(selected='selected')='仕様変更'
                                        option='機能追加'
                                else if search_info && search_info['species'] && search_info['species'] == "機能追加"
                                    select(name='species')
                                        option.option
                                        option='バグ'
                                        option='仕様'
                                        option='仕様変更'
                                        option(selected='selected')='機能追加'
                                else
                                    select(name='species')
                                        option.option
                                        option='バグ'
                                        option='仕様'
                                        option='仕様変更'
                                        option='機能追加'
                        tr
                            th.search_th='提出者'
                            td
                                if search_info && search_info['submitter']
                                    input(type='text' name='submitter' value=search_info['submitter'])
                                else
                                    input(type='text' name='submitter')

                        tr
                            th.search_th='担当者'
                            td
                                if search_info && search_info['principal']
                                    input(type='text' name='principal' value=search_info['principal'])
                                else
                                    input(type='text' name='principal')

                        tr
                            td.search_th
                                button#clear(type='button' style='width: 60%; height: 30px') クリア
                            td
                                button(type='submit' value='検索' style='float: right; width: 30%; height: 30px; font-size: small' name='search') 検索
            br
            hr
            br

            div.table
                table(style='width: 100%')
                    tr
                        th(style='width: 10%')=''
                        th(style='width: 31%')='要件'
                        th(style='width: 10%')='分類'
                        th(style='width: 8%')='状態'
                        th(style='width: 8%')='種別'
                        th(style='width: 14%')='提出者'
                        th(style='width: 14%')='担当者'
                        th(style='width: 5%')=''
                    if list
                        -var count = 0
                        each info in list
                            -count += 1
                            tr
                                td
                                    a.a_key(id='key'+count href='javascript:;')=info.key
                                td
                                    span #{info.title}
                                td
                                    span #{info.classification}
                                    button.classification(value=info['classification'])='!'
                                td
                                    span #{info.status}
                                    button.status(value=info['status'])='!'
                                td
                                    span #{info.species}
                                    button.species(value=info['species'])='!'
                                td
                                    span #{info.submitter}
                                    button.submitter(value=info['submitter'])='!'
                                td
                                    span #{info.principal}
                                    button.principal(value=info['principal'])='!'
                                td
                                    a.a_del(id='delete'+count href='javascript:;')='削除'
                                        span(hidden)=info.key
                                    div(hidden)
                                        form(method='get')
                                            input#del_key(type='text' name='del_key')
                                            input#del_submit(type='submit' onclick="return confirm('このデータが削除しますか');")


                        div(hidden)
                            form(method='get')
                                input#key_text(type='text' name='view_key')
                                input#key_submit(type='submit')
        form(method='get')
            input#check_condition(type='text' name='condition' hidden)
            input#check_value(type='text' name='value' hidden)
            input#check_submit(type='submit' hidden)